<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel: Guest List</title>
</head>
<body>
    <h1>Welcome to the Guests Page</h1>
    <table>
		<tr>
			<td>Last Name</td>
			<td>First Name</td>
			<td>Email Address</td>
			<td>Phone Number</td>
		</tr>
		<tr th:each="hotelGuest: ${hotelGuests}">
			<td th:text="${hotelGuest.lastName}">Last Name</td>
			<td th:text="${hotelGuest.firstName}">First Name</td>
			<td th:text="${hotelGuest.emailAddress} != null ? ${hotelGuest.emailAddress} : 'No Email Address Provided'">Email Address</td>
			<td th:text="${hotelGuest.phoneNumber} != null ? ${hotelGuest.phoneNumber} : 'No Phone Number Provided'">Phone Number</td>
		</tr>
	</table>
</body>
</html>